/*header {
  height: 69px;
  position: fixed;
  z-index: 10;
}*/


body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission {
  background-image: url("img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mission .box {
  width: 1200px;
  background-color: black;
}

#teamonth {
  height: 700px;
  width: 1000px;
}

#teamonth .teatypes-top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#teamonth .teatypes-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#teamonth .box {
  min-width: 300px;
  min-height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#teamonth .box img {
  max-width: 300px;
  max-height: 200px;
}

#teamonth .box h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
